body{
    background-color: #D3D3D3;
    margin-top: 3%;
    margin-left: 3%;
    margin-right: 3%;
    margin-block-end: 3%;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;


    
}

header{
    display: flex;
    justify-content:space-between;
    height: 120px;
    background-color: #5a464c;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    align-items: center;
    margin-left: auto;
    border-radius: 5cm 5cm 5cm 5cm;
    font-size:10px;
}
    


.logo{
    
    background-color: #5a464c;
    height: 80px;
    box-shadow: 1cm 1cm 1cm black;

}
   


div{

    background-color: white;
    border-radius:10px 10px 10px 10px;
    margin-top: 0.5cm;
    align-items: center;
    padding: 20px 20px 20px 20px


}

    
footer{
    margin-top: 0.5cm;
    height: 120px;
    background-color: aliceblue;
    font-style: italic;
    align-items: center;
    border-radius: 8cm 8cm 8cm 8cm;
    padding: 20px 20px 20px 20px;

}

.depre{
    float:right

}
    

.personalidad{
    float: right;
    width: 50%;
}